@media screen and (max-width: 1200px) {
  .navBox nav {
    position: absolute;
    right: 0;
    width: 50vw;
    top: 103px;
    background: linear-gradient(180deg, #565656, #2f2f2f);
    border-bottom-left-radius: 25px;
    display: none;
  }

  .navBox nav ul {
    flex-direction: column;
    text-align: center;
    gap: 2.5rem;
    margin: 2.5rem 0;
  }

  .navBox nav a {
    font-size: 1rem;
  }

  .menu-icon {
    position: absolute;
    display: block;
    right: 0;
    top: 22px;
    z-index: 100;
  }

  .menu-icon img {
    width: 2.5rem;
    height: 2.5rem;
  }

  .hero-title {
    right: -55%;
  }

  .referencesBox,
  .blogBox {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 2rem 10rem;
    gap: 5rem;
  }

  .blogBox {
    padding: 2rem 0;
  }
}

@media screen and (max-width: 1000px) {
  .hero-title {
    right: -65%;
  }

  .quality,
  .footerBox {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 2rem 10rem;
    gap: 5rem;
  }

  .property,
  .receivables,
  .contracts {
    flex-direction: column-reverse;
    align-items: center;
    /* width: 100%; */
  }

  .property img,
  .receivables img,
  .contracts img {
    max-width: 100%;
    height: auto;
  }

  .propertyText,
  .receivablesText,
  .contractsText {
    width: 100%;
    padding: 5rem 3rem;
  }
}

@media screen and (max-width: 800px) {
  .hero {
    background-image: url("images/hero\ section\ mobile.jpg");
  }

  .heading h2,
  .headingRef h2,
  .headingBlog h2,
  .headingContact h2 {
    font-size: 3rem;
    padding: 0 2rem;
  }

  .logo img {
    width: 1.5rem;
  }

  .logoName.scrolled {
    display: none;
  }

  .navBox {
    padding: 0.5rem 1rem;
  }

  .navBox nav {
    top: 82px;
  }

  .logoName h2 {
    font-size: 1.5rem;
  }

  .logoName h4 {
    font-size: 1rem;
  }

  .hero-title {
    right: 0;
    top: 70%;
    left: 60%;
    width: 60%;
  }

  .hero-title-inner {
    width: 100%;
  }

  .hero-title-inner h1 {
    font-size: 1.8rem;
  }

  .quality,
  .referencesBox,
  .footerBox {
    padding: 2rem;
  }

  .quality {
    gap: 1rem;
  }

  .list {
    flex-direction: column;
  }

  .blogText {
    margin: 0 2rem;
  }

  .contactBox {
    padding: 2rem 3.5rem;
    justify-content: center;
    gap: 7rem;
  }

  .contactAddressBox h5 {
    font-size: 1.5rem;
  }

  .contactAddress p {
    font-size: 1rem;
  }

  #ico {
    font-size: 0.8rem;
  }

  .c a {
    font-size: 1rem;
  }

  .contactReach img {
    width: 3rem;
  }

  .contactMap {
    padding: 3rem;
  }

  .blockMobile {
    display: none;
  }

  .footerBox {
    padding: 3rem 0;
  }

  .footerCopy p {
    font-size: 0.9rem;
  }

  .footerLinks {
    margin-bottom: 3rem;
  }
}
