* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --nav-font-color: #8199ed;
  --font-h3-h2-color: #505276;
  --font-general-color: #333333;
  --footer-font-primary-color: #b5c8fc;
  --footer-font-secondary-color: #9096d9;
  --qualities-primary-color: #b6aaa0;
  --qualities-secondary-color: #c6beb6;
  --service-reference-background-color: #e8e1da;
  --reference-profil-background-color: #8a847e;
  --blog-background-color: #dce5f3;
  --footer-background-color: #42527b;
  --footer-copyright-background-color: #273552;
  --contact-gradient: linear-gradient(#dce5f3, #fff);
  --move-navi: transform: translateY(-3px);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  max-width: 87.5rem;
  margin: 0 auto;
  background-color: #f8f8f881;
}

h1,
h2 {
  font-family: "Cormorant Upright", serif;
  font-weight: 400;
  text-transform: uppercase;
}

.logoName h2 {
  font-size: 2.5rem;
  color: var(--nav-font-color);
}

.logoName h4 {
  font-family: "Cormorant Upright", serif;
  font-size: 1.6rem;
  color: rgb(121, 124, 141);
  margin-left: 0.2rem;
}

.hero {
  background-image: url(images/hero\ section\ larger.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  max-height: 50rem;
  background-position: center;
  position: relative;
}

.hero-title {
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  line-height: 1.4;
  position: absolute;
  left: 20%;
  top: 35%;
  width: 700px;
  font-size: 1.8rem;
  text-shadow: 0 0 5px #323232;
  transform: translate(50%, 50%);
  display: flex;
  flex-direction: row-reverse;
}

.hero-title-inner {
  text-align: right;
}

.menu-icon {
  display: none;
  margin-right: 30px;
  cursor: pointer;
}

.navBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2.5rem;
  background-color: #25252581;
}

/* .navBox nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
} */

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.navigation ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3.5rem;
}

.navigation a strong {
  font-weight: 400;
}

.navigation a {
  text-decoration: none;
  color: var(--nav-font-color);
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}

.navigation a:hover {
  transform: translateY(-2px);
  color: #ffffff;
}

.navigation li {
  list-style: none;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo img {
  width: 35px;
  height: auto;
  object-fit: contain;
  margin-right: 0.5rem;
}

.contactBTN {
  padding: 0.8rem 1.5rem;
  background-color: #9096d94b;
  border: 1px solid #8199ed;
  border-radius: 0.5rem;
  color: #8b9ace;
}
