* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --nav-font-color: #8199ed;
  --font-h3-h2-color: #505276;
  --font-general-color: #333333;
  --footer-font-primary-color: #b5c8fc;
  --footer-font-secondary-color: #9096d9;
  --qualities-primary-color: #b6aaa0;
  --qualities-secondary-color: #c6beb6;
  --service-reference-background-color: #e8e1da;
  --reference-profil-background-color: #8a847e;
  --blog-background-color: #dce5f3;
  --footer-background-color: #42527b;
  --footer-copyright-background-color: #273552;
  --contact-gradient: linear-gradient(#dce5f3, #fff);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
}
