* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --nav-font-color: #8199ed;
  --font-h3-h2-color: #505276;
  --font-h4-color: #6d7182;
  --font-general-color: #333333;
  --footer-font-primary-color: #b5c8fc;
  --footer-font-secondary-color: #9096d9;
  --qualities-primary-color: #b6aaa0;
  --qualities-secondary-color: #c6beb6;
  --service-reference-background-color: #e8e1da;
  --reference-profil-background-color: #8a847e;
  --blog-background-color: #dce5f3;
  --footer-background-color: #42527b;
  --footer-copyright-background-color: #273552;
  --contact-gradient: linear-gradient(#dce5f3, #fff);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  max-width: 100rem;
  margin: 0 auto;
  background-image: url(images/background\ 2.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 2rem #323232;
}

h1,
h2 {
  font-family: "Cormorant Upright", serif;
  font-weight: 400;
  text-transform: uppercase;
}

h3 {
  font-family: "Cormorant Upright", serif;
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--font-h3-h2-color);
  text-align: center;
  margin-bottom: 3rem;
}

p {
  line-height: 1.5;
  color: var(--font-general-color);
}

.qualityBox h4 {
  font-size: 1.2rem;
  color: var(--font-general-color);
  text-transform: uppercase;
  font-weight: 500;
}

.logoName h2 {
  font-size: 2.5rem;
  color: var(--nav-font-color);
}

.logoNameFooter h2 {
  font-size: 2.2rem;
  color: var(--nav-font-color);
}

.logoName h4,
.logoNameFooter h4 {
  font-family: "Cormorant Upright", serif;
  font-size: 1.6rem;
  color: rgb(121, 124, 141);
  margin-left: 0.2rem;
}

.logoNameFooter h4 {
  color: var(--footer-font-primary-color);
}

.hero {
  background-image: url(images/hero\ section\ larger.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  max-height: 60rem;
  background-position: center;
  position: relative;
}

.hero-title {
  display: flex;
  flex-direction: row-reverse;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  line-height: 1.4;
  position: absolute;
  right: -35%;
  top: 75%;
  width: 85rem;
  height: 20rem;
  font-size: 1.8rem;
  text-shadow: 0 0 5px #323232;
  transform: translate(-50%, -50%);
}

.hero-title-inner {
  text-align: right;
  width: 50%;
}

.menu-icon {
  display: none;
  margin-right: 30px;
  cursor: pointer;
}

.menu-icon-close {
  padding: 0.5rem;
}

.menu-icon img {
  width: 3.5rem;
  height: 3.5rem;
}

.navBox {
  display: flex;
  max-width: 95rem;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
}

.navBoxBackground {
  background-color: #00000048;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.navigation ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3.5rem;
}

.navigation a strong {
  font-weight: 500;
}

.navigation a {
  text-decoration: none;
  color: var(--nav-font-color);
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
}

.navigation a:hover {
  color: #b5c8fc;
}

.navigation li {
  list-style: none;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo img {
  width: 2rem;
  height: auto;
  object-fit: contain;
  margin-right: 0.5rem;
}

.contactBTN {
  padding: 0.8rem 1.5rem;
  background-color: #9096d94b;
  border: 1px solid #8199ed;
  border-radius: 0.5rem;
  color: #8b9ace;
}

.contactBTN:hover {
  border: 1px solid #d6dcff;
  color: #d6dcff;
  box-shadow: 0 0 5px #d6dcff;
}

.quality,
.referencesBox {
  display: flex;
  flex-direction: row;
  padding: 0 2.5rem;
}

.quality {
  background-color: var(--qualities-primary-color);
}

.qualityBox,
.refProfil {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  background-color: var(--qualities-secondary-color);
  margin: 3.1rem 2rem;
  padding: 2.7rem;
  justify-content: flex-start;
  text-align: center;
  border-radius: 0.5rem;
}

.qualityBox img {
  height: 3rem;
  width: auto;
  filter: hue-rotate(10deg) saturate(0.7);
}

.heading {
  background-color: #f4f4f4;
}

.heading,
.headingRef,
.headingBlog,
.headingContact {
  margin: 0 auto;
  padding: 6rem 0;
  text-align: center;
}

.heading h2,
.headingRef h2,
.headingBlog h2,
.headingContact h2 {
  font-family: "Cormorant Upright", serif;
  font-size: 3.5rem;
  color: var(--font-h3-h2-color);
  margin-bottom: 1rem;
}

.heading h4,
.headingRef h4 {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--font-h4-color);
  text-transform: uppercase;
  margin-bottom: 1.7rem;
}

.service {
  background-color: #f4f4f4;
}

.property,
.receivables,
.contracts {
  display: flex;
  flex-direction: row;
  background-color: var(--service-reference-background-color);
}

.property,
.receivables {
  margin-bottom: 5rem;
}

.property,
.contracts {
  flex-direction: row-reverse;
}

/* .receivables {
  flex-direction: row;
} */

.property img,
.receivables img,
.contracts img {
  max-width: 52%;
  height: auto;
  object-fit: cover;
}

.propertyText,
.contractsText {
  background-color: var(--service-reference-background-color);
  padding: 2.5rem 6rem;
  width: 52%;
}

.receivablesText {
  width: 52%;
  padding: 2.5rem 6rem;
  margin-bottom: 3.4rem;
}

.list {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin-left: 2rem;
}

.list li {
  list-style: circle;
  color: var(--font-general-color);
  font-weight: 400;
}

.blockRef {
  background-color: #ffffff;
  height: 10rem;
}

.references {
  background-color: var(--service-reference-background-color);
  padding-bottom: 3rem;
}

.refProfil {
  position: relative;
}

.refProfil img {
  width: 7.5rem;
  position: absolute;
  top: -4rem;
  border-radius: 5rem;
}

.refProfil h5 {
  color: var(--font-general-color);
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 2rem;
}

.refProfil h6 {
  font-weight: 400;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.blog {
  display: flex;
  background-color: var(--blog-background-color);
}

.blogBox {
  display: flex;
  flex-direction: row;
  margin-bottom: 5rem;
}

.blogText {
  flex: 1;
  margin: 0 9rem;
  gap: 4rem;
  padding: 4rem 1rem;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  background-image: linear-gradient(to right, #dce5f3, #ccd7e9, #dce5f3);
}

.blogText a {
  text-decoration: none;
  color: var(--font-h3-h2-color);
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: 600;
  /* text-transform: uppercase; */
}

.blogText h4 {
  color: var(--font-h3-h2-color);
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.blogBtn a {
  text-decoration: none;
  color: var(--font-h3-h2-color);
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-bottom: 0.3rem;
}

button {
  transition: 0.8s ease-in-out;
  display: flex;
  margin: 0 auto;
  background-color: var(--blog-background-color);
  border: none;
  border-bottom: 2px solid var(--font-h3-h2-color);
  margin-bottom: 5rem;
}

button:hover {
  color: #b5c8fc;
  transform: scale(1.1);
  letter-spacing: 0.2em;
}

.contact {
  background-image: var(--contact-gradient);
  padding-bottom: 6rem;
}

.contactBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 3rem 1rem;
  text-align: center;
  max-width: 75rem;
}

.contactMap {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.contactMap img {
  max-width: 75rem;
  width: 100%;
  box-shadow: 0 0 15px gray;
  border-radius: 1rem;
  transition: 1s ease-in-out;
}

.contactMap img:hover {
  transform: scale(1.05);
}

.contactAddressBox,
.contactReach {
  text-align: start;
}

.contactAddressBox h5 {
  font-weight: 500;
  margin-bottom: 0.3rem;
  font-size: 2rem;
  color: var(--font-h3-h2-color);
}

.contactDetails p {
  line-height: 1.6;
  font-size: 1.2rem;
}

.contactAddress {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 2rem 0;
}

.contactReach {
  display: flex;
  flex-direction: column;
}

.contactReach img {
  width: 4rem;
  height: auto;
}

.contactLinkedIn img {
  padding: 0.2rem;
}

.c {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 1rem;
}

.c a {
  text-decoration: none;
  color: var(--font-h3-h2-color);
  font-size: 1.5rem;
  font-weight: 500;
}

footer {
  background-color: var(--footer-background-color);
}

.footerBox {
  display: flex;
  justify-content: space-between;
  padding: 7rem 2rem;
  align-items: start;
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
}

.footerBox > * {
  flex: 1;
}

.footerBox > *:nth-child(2) {
  margin: 0 auto;
}

.footerPages {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
}

.footerPages a {
  text-decoration: none;
  color: var(--footer-font-primary-color);
  font-size: 1.2rem;
  font-weight: 500;
  transition: 0.8s ease-in-out;
}

.footerPages a:hover {
  transform: scale(1.2);
}

.footerConnections {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.5rem;
  color: var(--footer-font-primary-color);
}

.footerConnections a {
  text-decoration: none;
  color: var(--nav-font-color);
  font-weight: 500;
}

.footerConnections a:hover {
  color: var(--footer-font-primary-color);
}

.footerConnections ul {
  margin: 0.5rem 0 0 1.5rem;
}

.footerIcons img {
  width: 4rem;
  height: auto;
  padding: 0.5rem;
  transition: 0.8s ease-in-out;
}

.footerIcons img:hover {
  transform: scale(1.1);
}

.footerCopy {
  font-size: 1.2rem;
  font-weight: 500;
  background-color: var(--footer-copyright-background-color);
}

.footerCopy p {
  color: var(--font-h4-color);
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem 0;
}

.footerCopy a {
  text-decoration: none;
  color: var(--nav-font-color);
}
